@import "bootstrap";

.jumbotron {
  margin-top: 3px;
}

.green {
  border: 3px green solid;
}
.green-bg {
  background: green;
  color: yellow;
  padding: 0 3px;
}
.yellow {
  border: 3px yellow solid;
}
.yellow-bg {
  background: yellow;
  padding: 0 3px;
}
.orange {
  border: 3px orange solid;
}
.orange-bg {
  background: orange;
  padding: 0 3px;
}
.red {
  border: 3px red solid;
}
.red-bg {
  background: red;
  padding: 0 3px;
}
.purple {
  border: 3px purple solid;
}
.purple-bg {
  background: purple;
  color: white;
  padding: 0 3px;
}
.maroon {
  border: 3px maroon solid;
}
.maroon-bg {
  background: maroon;
  color: white;
  padding: 0 3px;
}
.gray {
  border: 3px gray solid;
}
.gray-bg {
  background: gray;
  padding: 0 3px;
}
